.map_wrapper{
    width: 100%;
    height: 100%;
    margin-bottom: 3vh;
}
.map_btn_wrapper{
    
}
.map {
    margin-top: 2vh;
    margin-bottom: 3vh;
    width: 100%;
    min-height: 30vh;
    z-index: 0;
}
.map_btn_wrapper {
    display: flex;
    justify-content: space-between;
}
.map_icon {
    width: 15vw;
}