@font-face {
    font-family: 'SeoulHangang';
    src: url('./SeoulHangangL.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SeoulHangang';
    src: url('./SeoulHangangM.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SeoulHangang';
    src: url('./SeoulHangangB.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SeoulHangang';
    src: url('./SeoulHangangEB.ttf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'MYYeongnamnu';
    src: url('./MYYeongnamnu.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'KakaoBold';
    font-style: bold;
    font-weight: 900;
    src: url('KakaoBold.woff2') format('woff2');
}