@font-face {
    font-family: 'SeoulHangang';
    src: url('./SeoulHangangL.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SeoulHangang';
    src: url('./SeoulHangangM.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SeoulHangang';
    src: url('./SeoulHangangB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SeoulHangang';
    src: url('./SeoulHangangEB.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'MYYeongnamnu';
    src: url('./MYYeongnamnu.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'KakaoBold';
    font-style: bold;
    font-weight: 900;
    src: url('KakaoBold.woff2') format('woff2');
}