.account_wrap {
    
}

.account_btn_wrap {
    width: 80%;
}

.MuiAccordionSummary-root {
    background-color: #d5b29c !important;
    min-height: 5vh;
}

.MuiAccordionSummary-content {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}