.calendar_whole_wrapper{
    position: relative;
    margin-bottom: 7%;
}
.border_img {
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    height: 100%;
}

.calendar_wrapper {
    padding-top: 10%;
    padding-bottom: 3%;
    margin: 0 auto;
    width: 70%;
}

.calendar {
    padding-top: 2%;
}

.calendar span {
    width: 14.2%;
}
.calendar_row_wrap {
    display: flex;
    justify-content: space-between;
    line-height: 3rem;
    height: 3rem;
}
.calendar_day {
    font-size: 0.9rem;
    font-weight: bold;
}
.calendar_date {
    font-size: 0.9rem;
}
.calendar_sat {
    color: #0099ff;
}
.calendar_sun {
    color: #ff4d4d;
}

.d_day_ {
    font-size: 1rem;
    border-radius: 1rem;
    color: #fff;
    background-color: #DB7093;
    overflow: visible;
}