.gallery_wrapper {
    margin: 10% auto;
    width: 90%;   
    border: 0;
}
.slider_wrap {
    height: 100%;
    display: flex;
    align-items: center;
}  
.slider_img {
    width: 99% !important;
}

