.main_img_wrap {
    position: relative;
    height: 100%;
}

.subject_wrapper {
    position: absolute;
    top: 10%;
    width: 100%;
    justify-items: center;
    align-items: center;
}

.subject_wrapper_box1 {
    margin: 0 auto;
    width: 85%;
    border: 1px solid #a7a7a7;
    border-radius: 2vh;
}

.subject_wrapper_box2 {
    padding-top: 5%;
    padding-bottom: 5%;
} 

.subject_wrapper > div {
    font-size: 1.2rem;
    /* color: #a7a7a7; */
    color: #000;
}

.subject_font {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}

.subject_date {
    margin-bottom: 5%;
}
.subject_date1 {
    margin-bottom: 5%;
}

.subject_location {
    font-size: 1rem;
}