/* @media (min-width: 768px) {
    .wrap {
        align-items: center;
        width: 576px;
        background-color: tan;
    }
} */


.wrapper {
    height: 300vh;
    background-color: #FFFACD50;
}