@media (min-width: 768px) {
    body {
        background-color: #fff76750;
    }
    #root {
        width: 576px;
        background-color: #fff;
        margin: auto;
        min-height: 100vh;
    }
}

* {
    margin: 0;
    padding: 0;
    font-size: 2rem;
}

