@import url('assets/fonts/fonts.css');

@media (min-width: 768px) {
    body {
        background-color: #fff76750;
    }
    #root {
        width: 576px;
        background-color: #FFFACD;
        margin: 0 auto;
        min-height: 100%;
        overflow: auto;
    }
}

html, body {
    height: 100%;
}

#root {
    min-height: 100%;
}

* {
    margin: 0 auto;
    padding: 0;
    border: 0;
    text-align: center;
    font-family: ChosunGs;
}

